

nav.navbar{
    width: 100%;
    height: 70px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #c9c9c9 !important;
    position: sticky;
    top: 0px
    ;
    a{
        width: 150px;
        height: 100%;
        background-color: #ddd;
        color: black;
        font-size: 20;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none
        ;
    }
}